<div class="container">
    <div class="home">
        <h3 class="home__search-title">
            Find Books!
        </h3>
        <div class="home__search-box">
            <input id="search-box" class="home__search-input" type="search" placeholder="Enter Keywords...">
            <button class="home__search-button">Search</button>
        </div>
        <div id="error-box" class="home__search-error-box">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span id="error-message" class="home__search-error">Alperen talaslıoğlu</span>
        </div>
    </div>
</div>