/* - - - - - - - - - - - - - - - -

      #COLOR-PALETTE

- - - - - - - - - - - - - - - - - */

$color__bg--primary: #fff;
$color__bg--secondary: #f8f8f8;
$color__bg--dark: #2b3d51;

$color__text--primary: #111;
$color__text--secondary: #fff;

$color__border--primary: #c5c5c5;

$color__link-hover: #910300;